body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px; color:#fff;
}
.container{
    display: grid;
    grid-template-columns: 1fr 125px 125px 125px 125px 1fr;
    grid-template-rows: 150px 300px 100px;
    grid-template-areas: ". header ." ". sidebar ." ". content ." ". footer .";
    grid-row-gap:1em;
}

.header{grid-area: header; background: #3399ff; grid-column: 2/6; grid-row:1;}
.sidebar{grid-area:sidebar; background:rgba(0, 102, 204, 100); grid-column:2/4; grid-row:2/3;}
.content{grid-area: content; background:rgba(0, 102, 204, 0.8); grid-column:4/6; grid-row:2/3;}
.footer{grid-area: footer; background: #003366; grid-column:2/6; grid-row:3;}